<!DOCTYPE html>
<html>

<script>

let token = localStorage.getItem("token")

if(!token){
    window.location = "/"
}

</script>

<script>

function copyToClipboard(text){
navigator.clipboard.writeText(text)
alert("Copied to clipboard")
}

</script>

<head>
<title>Dashboard</title>
<link rel="stylesheet" href="static/theme.css">
</head>

<body>

<div class="center-container">

<div class="dashboard-card">

<h2>URL Shortener</h2>

<div class="shorten-box">

<input id="url" placeholder="Enter URL">
<input id="alias" placeholder="Custom alias (optional)">

<div class="button-row">
<button onclick="shorten()">Shorten</button>
<button class="logout-btn" onclick="logout()">Logout</button>
</div>

</div>

<p id="result"></p>

<h3>Your URLs</h3>

<div id="urlList"></div>

</div>

</div>

<div id="qrModal" class="modal">

<div class="modal-content">

<span class="close-modal" onclick="closeQR()">&times;</span>

<h3>QR Code</h3>

<div id="qrCanvas"></div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script src="static/script.js"></script>

</body>
</html>