<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="static/theme.css">
</head>

<body>

<div class="center-container">

<div class="card">

<h2>Login</h2>

<form autocomplete="off">

<input id="username" placeholder="Username" autocomplete="off">
<input id="password" type="password" placeholder="Password" autocomplete="new-password">

<button type="button" onclick="login()">Login</button>

</form>

<p class="small-text">Don't have an account? <a href="/register-page">Register</a></p>

</div>

</div>

<script src="static/script.js"></script>

</body>
</html>