<!DOCTYPE html>
<html>
<script>

let token = localStorage.getItem("token")

if(!token){
    window.location = "/"
}

</script>
<script>function copyToClipboard(text){
navigator.clipboard.writeText(text)
alert("Copied to clipboard")
}</script>


<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>URL Shortener</h2>

<input id="url" placeholder="Enter URL">
<input id="alias" placeholder="Custom alias (optional)">

<button onclick="shorten()">Shorten URL</button>

<button onclick="logout()">Logout</button>

<p id="result"></p>

<h3>Your URLs</h3>

<div id="urlList"></div>

<script src="/static/script.js"></script>

</body>
</html>